.search-container {
  width: 100%;
  max-width: 300px;
  color: white;
  
}

.search-title {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: bold;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.search-button {
  padding: 12px 10px;
  background: #1d9bf0;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.25s;
}

.search-button:hover {
  background: #0a7ecc;
}

.loading {
  color: #bbb;
}

.error {
  color: #ff6b6b;
}

.results-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 18px;
}

.search-movie-card {
  background: rgba(255,255,255,0.05);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.25s;
}

.movie-card:hover {
  transform: scale(1.03);
}

.movie-poster {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.movie-info {
  padding: 14px;
}

.movie-info h3 {
  margin: 0 0 6px;
  font-size: 20px;
}

.date {
  font-size: 14px;
  opacity: 0.7;
}

.overview {
  font-size: 14px;
  margin-top: 10px;
  opacity: 0.8;
  max-height: 100px;
  overflow: hidden;
}
