/* ====== Container ====== */
.delete-container {
  max-width: 1200px;
  margin: 80px auto 40px;
  padding: 20px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.delete-title {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
  color: #cde9f5;
}

/* ====== Messages ====== */
.message {
  padding: 12px 18px;
  border-radius: 6px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 15px;
}

.success {
  background-color: #1b8f3a;
  color: #fff;
}

.error {
  background-color: #b32020;
  color: #fff;
}

.delete-loading-text {
  text-align: center;
  margin-bottom: 15px;
  font-size: 16px;
  opacity: 0.8;
}

/* ====== Movie Grid ====== */
.delete-movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 22px;
  margin-top: 20px;
}

.delete-movie-card {
  background: #0a0c14;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.07);
  transition: all 0.25s ease;
}

.delete-movie-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 14px rgba(255, 255, 255, 0.13);
}

/* ====== Poster ====== */
.delete-poster-wrapper {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
}

.delete-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delete-poster-placeholderr {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  color: #bbb;
  font-size: 14px;
}

/* ====== Info Text ====== */
.delete-movie-info h3 {
  font-size: 18px;
  margin-bottom: 4px;
  color: #ffffff;
}

.delete-genre {
  font-size: 14px;
  color: #d1d1d1;
  margin-bottom: 12px;
}

/* ====== Delete Button ====== */
.delete-button {
  width: 100%;
  padding: 9px 0;
  background: #d52d2d;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.delete-button:hover {
  background: #b02121;
}

.delete-button:disabled {
  background: #7a2424;
  cursor: not-allowed;
}

/* ====== Pagination ====== */
.delete-pagination {
  margin-top: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  font-size: 16px;
  color: #ddd;
}

.delete-pagination button {
  background: #2a2b2f;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
}

.pagination button:hover {
  background: #3e3f45;
}

.pagination button:disabled {
  background: #1b1b1d;
  opacity: 0.5;
  cursor: not-allowed;
}
